.window{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #adadad;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
}

.window__bar {
  background:
  radial-gradient(7px at 14px 50%, #ff5e57 0px, #ff635a 5px, #fd5249 6px, rgba(255, 255, 255, 0) 7px),
  radial-gradient(7px at 34px 50%, #ffbd2e 0px, #ffc42f 5px, #fcb91b 6px, rgba(255, 255, 255, 0) 7px),
  radial-gradient(7px at 54px 50%, #cfcfcf 0px, #d3d3d3 5px, #c6c6c6 6px, rgba(255, 255, 255, 0) 7px),
  linear-gradient(to top, #cccccc 0%, #d6d6d6 1px, #ebebeb 100%);
}

.window__content {
    &:before {
      content:'';
      display: block;
      padding-top: 100%;
    }
  }

.window__bar {
  border: 1px solid white;
  border-left-color: #f3f3f3;
  border-right-color: #f3f3f3;
  border-bottom-color: #bdbdbd;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 20px;
  text-align: center;
  color: #505151;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
}

html {
    background-color: black;
    font-family: 'tewi', monospace;
    box-sizing: border-box;
    font-size: 12px;
    height: 100%;
    color: #dcdccc;
}

/**, *:before, *:after {
    box-sizing: inherit;
}*/

body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

#terminal {
    flex-grow: 1;
    max-width: 48rem;
    word-wrap: break-word;
    overflow: hidden;
    padding: .2rem;
    border: .2rem solid #6f6f6f;
    height: 24rem;
}

#prompt {
    align-items: center;
    display: flex;
}

#stdin {
    background-color: inherit;
    flex-grow: 1;
    outline: 0;
    border: 0;
    cursor: default;
    color: white;
}

a {
    text-decoration: none;
    color: #8f99d9;
}

a:focus,
a:hover {
    background-color: #8f99d9;
    outline: none;
    color: #3c3b37;
}

::-moz-selection {
    background-color: #dcdccc;
    color: #3c3b37;
}

::selection {
    background-color: rgba(220, 220, 204, 0.99);
    color: #3c3b37;
}